[tool.poetry]
name = "operationbot"
version = "0.36.4"
description = "A bot for handling events on the Zeusops discord server"
authors = ["Zeusops <admin@zeusops.com>"]

[tool.poetry.dependencies]
python = "^3.9"
"discord.py" = "^1.3.4"
PyYAML = "^6.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
