# Version of the secret file, do not change unless you're editing the code as well
VERSION = 1


# The bot's Discord token
TOKEN = 'token here'
# The prefix for commands. '!' produces commands like !help, for example
COMMAND_CHAR = '!'
# The Discord user ID of the bot's owner, must be set. Grants access to
# `!repl`, among other things
ADMIN = 0
# An optional list of bot admins, grants access to `!exec`
ADMINS: list[int] = []
# When in debug mode, the bot uses a single debug channel for all communication
DEBUG = False
# A Discord user ID of an user to notify about late sign-offs, must be set
SIGNOFF_NOTIFY_USER = 0
# The default platoon size of an event
PLATOON_SIZE = "1PLT"
# A custom message included in WW2 events, can be left empty
WW2_MODS = ""
